<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="post-nav newer-posts" href="{{page_url prev}}">&larr; NEXT</a>
    {{else}}
    	<span class="post-nav newer-posts pagination-none">&larr; NEXT</span>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="post-nav older-posts" href="{{page_url next}}">PREVIOUS &rarr;</a>
    {{else}}
    	<span class="post-nav older-posts pagination-none">PREVIOUS &rarr;</span>
    {{/if}}
</nav>